/* GLOBAL FONT */
body {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0; /* FIX */
    padding: 0;
    background-color: #0d1117;
    color: #c9d1d9;
}

section {
    padding: 40px;
}

/* Ensure all elements inherit the font */
* {
    font-family: 'Space Grotesk', sans-serif;
}


/* HERO should be reference container */
.hero {
    height: 350px;

    background-image: url("./assets/header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative; /* IMPORTANT */
}

.overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 12px;
    text-align: center;
}


.nav-buttons {
    position: absolute;
    top: 30px;
    left: 30px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
}

.btn {
    padding: 15px 40px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    background: rgba(209, 209, 214, 0.9);
    backdrop-filter: blur(6px);
    color: #111;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
    background: #58a6ff;
    color: white;
}

.btn.active {
    background: #0d1117;
    color: white;
    box-shadow: 0 0 15px rgba(88, 166, 255, 0.6);
}


/* NAV LINKS */

nav a {
    text-decoration: none;
    color: #c9d1d9;
    font-weight: bold;
}

nav a:hover {
    color: #58a6ff;
}


/* HEADINGS */
h1 {
    text-align: center;
}

h2 {
    border-bottom: 1px solid #30363d;
    padding-bottom: 5px;
}


/* PROJECTS */
.project {
    margin-bottom: 25px;
}
